.page-header__title:before,
.icon-beagle-logo { background-image: url('png/beagle-logo.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus { background-image: url('png/mockup-iphone-6plus.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus@2x { background-image: url('png/mockup-iphone-6plus@2x.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus_1024x851 { background-image: url('png/mockup-iphone-6plus_1024x851.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus_306x254 { background-image: url('png/mockup-iphone-6plus_306x254.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus_470x391 { background-image: url('png/mockup-iphone-6plus_470x391.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus_527x438 { background-image: url('png/mockup-iphone-6plus_527x438.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus_612x509 { background-image: url('png/mockup-iphone-6plus_612x509.png'); background-repeat: no-repeat; }

.icon-mockup-iphone-6plus_940x782 { background-image: url('png/mockup-iphone-6plus_940x782.png'); background-repeat: no-repeat; }

.page-footer__link--support:before,
.icon-speech-bubble { background-image: url('png/speech-bubble.png'); background-repeat: no-repeat; }

