.main {
    display: flex;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;

    &__inner {
        @extend %layout-inner;

        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        flex: 1;
    }
}