.section {
    &__body {
        padding-top: 80px;
    }

        &__title {
            @include font-size(heading);

            font-weight: 300;
            font-style: italic;
            line-height: 1;

            &--primary {
                @include font-size(heading, large);
            }
        }

    &--home {

    }
}