.section {
    &__body {
        @include clearfix;

        padding: 40px 0;
    }

            &__title {
                @include font-size(heading);

                margin: 0 0 40px;

                font-weight: 300;
                font-style: italic;
                line-height: 1;

                &--primary {
                    @include font-size(heading, large);
                }
            }

            &__download-link {
                position: absolute;
                bottom: -10px;
                left: 0;
            }

    &--home {
        .section__side {
            @include breakpoint(mini) {
                @include span(8 of 12);

                &:nth-child(2n) {
                    @include span(4 of 12);
                    @include last;
                }
            }

            @include breakpoint(full) {
                @include span(6 of 12);

                &:nth-child(2n) {
                    @include span(6 of 12);
                    @include last;
                }
            }
        }
    }
}