$colors: (
    black: (
        base: #242423
    ),
    white: (
        base: #fff
    ),
    gray: (
        extra-dark:     #242423,
        dark:           #919191,
        medium:         #959595,
        light:          #ced5d7,
        extra-light:    #f0f0f0
    ),
    blue: (
        extra-light:    #e1e9eb,
        medium:         #74cde8
    ),
    purple: (
        medium:         #502171
    )
);