$font: (
    body: (
        stack: "'Lato', sans-serif",
        weight: 400
    ),
    logo: (
        stack: "'Raleway', sans-serif",
        weight: 200
    )
);

$font-size: (
    body: (
        base: 16px,
    ),
    logo: (
        base: 44px,
        base-lh: 36px
    ),
    heading: (
        base: 32px,
        large: 64px,
        large-lh: 70px
    )
);